<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show all users in form of table</title>
</head>
<style>
  table, th, td {
    border: 1px solid black;
  }
</style>
<body>
  <a href="/user/new">
  <button>Add New User</button>
</a>

  <table>
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Username</th>
  </tr>
  <% for(user of users) { %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
    <td><%= user.username %></td>
    <td>
  <!-- Edit -->
  <form method="GET" action="/user/edit/<%= user.id %>">
    <button>Edit username</button>
  </form>

  <!-- Delete -->
  <form method="GET" action="/user/delete/<%= user.id %>">
    <button>Delete user</button>
  </form>
</td>

  </tr>
  <% } %>
</table>
</body>
</html>